name: Run Python test

permissions:
  contents: write

on:
  issues:
    types:
      - opened # 새로운 issues가 열릴 때마다 실행

# jeong 이라는 self-hosted runner(내 컴퓨터)를 지정
jobs:
  run-code:
    runs-on: jeong
	
    steps:       
		# push시 다른 워크플로우가 자동적으로 실행 되도록 하기 위해, PAT 토큰을 추가
      - name: checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_TOKEN }}
          fetch-depth: 0

      - name: setup python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12
          check-latest: false # 매번 다운로드 하지 않고 캐시된 버전을 사용함

      - name: Run Python script
        run : python change.py

      - name: Commit and Push
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add index.html
          git commit -m "Update html by actions"
          git remote set-url origin https://x-access-token:${{ secrets.GH_TOKEN }}@github.com/${{ github.repository }}.git
          git push origin HEAD:${{ github.ref }}
