name: Run Python test

on:
  issues:
    types:
      - opened # 새로운 issues가 열릴 때마다 실행
jobs:
  run-code:
    runs-on: jeong

    steps:
    # ExecutionPolicy를 Bypass로 지정
      # - name: Run setup script
      #   run: |
      #     powershell -NoProfile -ExecutionPolicy Bypass -File ./setup.ps1
         #  안먹어서 직접 파워셸에서 했다
         # Set-ExecutionPolicy RemoteSigned -Scope LocalMachine -Force
         # 안전한건지는 모르겠음. ps1에 내가 파워셸 켤 때 파이선 가상환경 실행 그거 해놔서 저 오류가 기본적으로 뜬 듯
         
      # 파워쉘 관리자 권한 세팅
      - name: Allow PowerShell scripts
        run: Set-ExecutionPolicy RemoteSigned -Scope CurrentUser
        shell: powershell
        
      - name: checkout repo
        uses: actions/checkout@v4

      - name: setup python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12
          check-latest: false #매번 다운로드 하지 않고 캐시된 버전을 사용함

      # - name: install Python dependencies
      #   run: |
      #     python -m pip install --upgrade pip
      #     pip install -r requirements.txt

      - name: Run Python script
        run : python change.py

      - name: Commit and push changes
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add .
          git commit -m "Update html by actions"
          git push https://${{ secrets.GH_TOKEN }}@github.com/op6161/action_test.git HEAD:main
